@charset "UTF-8";

/** reset css **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

ul, ol, dl {
  list-style: none;
}

a {
  color: inherit;
}

/** common CSS **/
body {
  height: 100%;
  min-width: 30px;
  font-size: 62.5%;
}
.container {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ddd;
}
